body {
    background-image: url(img/1619004016_12-phonoteka_org-p-sinii-fon-setka-19.jpg);
   
  
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 50px;
    text-decoration: underline;
    color: rgb(245, 16, 16);
    text-shadow: 2px 2px  black;
    margin-left: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.img1 {
    margin-left: 210px;
    margin-top: 50px;
}

.img2 {
    margin-left: 250px;
    margin-top: 50px;
}

li{
    list-style-type: none;
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: red;
    text-shadow: 1px 1px black;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.div {
    background-color: rgb(134, 215, 241);
    width: 300px;
    height: 280px;
    border-radius: 20px;
   
    margin-bottom: 50px;
    
}

.table {
    margin-left: 180px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}



  th, td:first-child {
        font-weight: bold;
        background-color: blue;
        padding: 15px 35px;
        color: #fff;
    }
    
    td {
        background-color: rgb(45, 45, 202);
    }

    td a {
        color: #fff;
    }
    
    td, th {
        border-style: solid;
        border-width: 0 2px 2px 0;
        border-color: #fff;
    }


iframe {
    margin-left: 400px;
}